In [1]:
!git init

Reinitialized existing Git repository in C:/Users/Sarr Michel/PythonForDataScience/ProjectPython/.git/

In [2]:
import pandas as pd
import numpy as np 
import matplotlib as plt

In [6]:
path = 'C:/Users/Sarr Michel/Desktop/PythonForDS/Donnees'
sales = pd.read_csv(path+'/sales_data_set.csv')
stores = pd.read_csv(path+'/stores_data_set.csv')
features = pd.read_csv(path+'/Features_data_set.csv')

In [13]:
CompanyData = pd.merge(sales,stores,on='Store',how = 'inner')

In [30]:
!git add .

In [32]:
!git commit -m 'suprression'

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   BoutiqueRetails.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [36]:
!git add BoutiqueRetails.ipynb

In [37]:
!git commit -m 'suprression'

[main 5869663] 'suprression'
 1 file changed, 27 insertions(+), 443 deletions(-)

In [38]:
!git push

To https://github.com/mwsarr/ProjectPython.git
   9391181..5869663  main -> main

In [41]:
display(CompanyData)

        Store  Dept        Date  Weekly_Sales  IsHoliday Type    Size
0           1     1  05/02/2010      24924.50      False    A  151315
1           1     1  12/02/2010      46039.49       True    A  151315
2           1     1  19/02/2010      41595.55      False    A  151315
3           1     1  26/02/2010      19403.54      False    A  151315
4           1     1  05/03/2010      21827.90      False    A  151315
...       ...   ...         ...           ...        ...  ...     ...
421565     45    98  28/09/2012        508.37      False    B  118221
421566     45    98  05/10/2012        628.10      False    B  118221
421567     45    98  12/10/2012       1061.02      False    B  118221
421568     45    98  19/10/2012        760.01      False    B  118221
421569     45    98  26/10/2012       1076.80      False    B  118221

[421570 rows x 7 columns]